body {
  margin: 0; }
  body * {
    color: #292929;
    font-size: 10px;
    font-family: sans-serif;
    margin: 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2.0rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.3rem; }

h6, p {
  font-size: 1rem; }

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.Banner {
  background-color: #ff383f;
  text-align: center;
  padding: 20px; }
  .Banner * {
    color: #fafafa; }

.Card {
  box-shadow: 2px 2px 8px #292929;
  box-sizing: border-box;
  padding: 15px;
  flex-basis: 40%;
  margin: 15px; }

.CountDown {
  display: flex;
  justify-content: center; }
  .CountDown .time-block {
    background-color: #292929;
    margin: 10px 5px;
    border: 1px solid #fafafa;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px; }
    .CountDown .time-block * {
      margin: 0; }

.Event h4 {
  color: #7A9EA5;
  margin-bottom: 10px; }

.Event h6 {
  margin-bottom: 10px; }

.Event button {
  background-color: #ff383f;
  border: none;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
  outline: none;
  padding: 4px 8px;
  font-size: 1rem;
  transition: 500ms; }
  .Event button:hover {
    background-color: #FF7E81; }

.Group .events {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .Group .events > div {
    flex-grow: 1;
    min-width: 300px; }

.MemberCarousel .slider {
  display: flex;
  overflow: auto;
  text-align: center;
  align-items: stretch; }
  .MemberCarousel .slider .member {
    min-width: 100px; }
    .MemberCarousel .slider .member .avatar {
      margin: 10px auto;
      border-radius: 50%;
      height: 80px;
      width: 80px; }
    .MemberCarousel .slider .member img {
      border-radius: 50%; }
