.Event {
  h4 {
    color: $color-secondary-dark;
    margin-bottom: 10px;
  }
  h6 {
    margin-bottom: 10px;
  }
  button {
    background-color: $color-primary;
    border: none;
    border-radius: $standard-border-radius;
    color: $color-white;
    cursor: pointer;
    outline: none;
    padding: 4px 8px;
    font-size: 1rem;
    transition: 500ms;
    &:hover {
      background-color: $color-primary-light;
    }
  }
}