.Home {
  // background: linear-gradient($color-black, $color-secondary-light);
  background: url('./assets/images/kari-shea-226153-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  .overlay {
    position: absolute;
    overflow: auto;
    height: 100%;
    background-color: rgba(10, 0, 10, 0.8);
  }
  h1 {
    color: $color-secondary;
    margin: 20vh 20px 20px;
  }
  .meetups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  .meetup {
    background-color: $color-primary;
    margin: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  a {
    color: $color-white;
    text-decoration: none;
    font-size: 2rem;
    padding: 10px 25px;
  }
}