.SliderCarousel {
  .slider {
    display: flex;
    overflow: auto;
    text-align: center;
    align-items: stretch;
    .item {
      min-width: 100px;
      .avatar {
        margin: 10px auto;
        border-radius: 50%;
        height: 80px;
        width: 80px;
      }
      img {
        border-radius: 50%;
      }
    }
  }
}